.mainBlock {
    position:relative;
    top:80%;
    left:30%;
    width:40%;
    display:flex;
    margin-bottom:150px !important;
    flex-direction:column;
    animation-name:animation3;
    animation-delay:0;
    animation-duration:0.8s;
}
@keyframes animation3 {
    from {transform:scale(0.1);}
    to {transform:scale(1)}
}
.dates {
    width:100%;
    margin-bottom:40px;
    margin-left:0;
    text-indent:22px;
    color:#000;
    font-size:26px;
    padding:5px 0;
    border:5px solid rgb(180,177,177);
    border-radius:30px;
    transition:all 0.7s ease;
}
.dateButton {
    margin-bottom:50px;
    margin-left:76.5%;
    padding:11px 14px;
    position:absolute;
    top:100%;
    left:-40%;
    border:5px solid rgb(14,199,231);
    background-color:rgb(59,167,68);
    border-radius:18px;
    color:#fff;
    text-align:center;
    font-size:19px;
}
.dateButton:hover {
    background-color:rgb(14,199,231);
    text-decoration:underline;
}
.dateButton:active {
    border:5px solid rgb(59,167,68);
    text-decoration:underline;
    color:#000;
}
.register {
    font-size:24px;
    text-align:center;
    margin-bottom:70px;
    color:rgb(5,201,191);
}